@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    /* --green:#16a085; */
    --green:rgb(152, 150, 150)
    --black:#444;
    --light-color:#797979;
    --box-shadow:none;
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid rgb(152, 150, 150)
}

header {
	background: linear-gradient(-45deg, #ec7d5e, #d47955, #c98969fa, #cb753b);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

*{
    font-family: 'Poppins',sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section{
    background: #ffffff;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    /* text-transform: uppercase; */
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
       background: linear-gradient(-45deg, #2edcd9e6, #3a84ac, #5689bffa, #46dde7);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background:linear-gradient(-45deg, #2edcd9e6, #3a84ac, #5689bffa, #46dde7);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: linear-gradient(-45deg, #2edcd9e6, #3a84ac, #5689bffa, #46dde7);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    color:#fff;
}

.btn:hover span{
    color:  #3a84ac;
    background:#fff;
    margin-left: 1rem;
}

.header{
    padding:2rem 9%;
    /* position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
     */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(-45deg, #2edcd9e6, #3a84ac, #5689bffa, #46dde7);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;

            background: linear-gradient(-45deg,#2edcd9e6, #3a84ac, #5689bffa, #46dde7);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
}

.header .logo{
    font-size: 2.5rem;
    color: whitesmoke;
}

.header .logo i{
    color: whitesmoke;
}

.header .navbar a{
    font-size: 1.7rem;
    color:rgb(227, 223, 223);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: white;
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:rgb(0, 132, 255);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}



.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    border:var(--border);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
    
}

.icons-container .icons i{
    font-size: 5rem;
    color:rgb(152, 150, 150);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 4.5rem;
    color:var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}

.services .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
    
}

.services .box-container .box{
    background: linear-gradient(-45deg,#2edcd9e6, #3a84ac, #569fbffa, #46dde7);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    border-radius: .5rem;
    box-shadow: whitesmoke;
    border:none;
    padding: 2.5rem;
}

.services .box-container .box i{
    color: rgb(0, 0, 0);
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .box-container .box h3{
    color: rgb(55, 55, 55);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.services .box-container .box p{
    color: rgb(251, 251, 251);
    font-size: 1.8rem;
    line-height: 2rem;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}






.book .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.book .row .image{
    flex:1 1 45rem;
}

.book .row .image img{
    width: 100%;
}

.book .row form{
    flex:1 1 45rem;
    background: #fff;
    /* border:var(--border);
    box-shadow: var(--box-shadow); */
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.book .row form h3{
    color:rgba(33, 104, 171, 0.562);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.book .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: rgba(33, 104, 171, 0.562);
    text-transform: none;
    padding: 1rem;
}

.book .row form .btn{
    padding:1rem 4rem;
}


.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:black;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:black;
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}



.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:rgb(210, 210, 210);
    border-top: .1rem solid rgba(0, 0, 0, .1);
    background: linear-gradient(-45deg, #2edcd9e6, #3a84ac, #5689bffa, #46dde7);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}











/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}